.help {
    color: #5e5e5e;
    font-size: 11px;
    font-style: italic;
}

.form-table td, .form-table th {
    vertical-align: top;
}

.error, .updated {
    margin-bottom: 10px !important;
}

.form-wrapper {
    border: 1px solid #dedede;
    padding: 10px;
    background: #fff;
}
